################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SupersetOf/bin/Debug
/SupersetOf/obj/Debug
